<mat-toolbar color = "primary" class = "mat-elevation-z6">
    <div class="button-container">
        <button mat-fab routerLink = "">
          <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class = "spacer"></div>
    <button class="button-container" mat-button routerLink = "/tournaments/all">Tournaments</button>
    <button class="button-container" mat-button routerLink = "" >Sign in</button>
    <div class="button-container">
      <button mat-fab routerLink = "" >AS</button>
    </div>
    <button class="button-container" mat-raised-button color = "accent" routerLink = "" >Sign up</button>
</mat-toolbar>