<mat-toolbar color = "primary" class = "mat-elevation-z6">
    <div class="button-container">
        <button mat-fab routerLink = "">
          <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class = "spacer"></div>
    <div *ngIf = "isLoggedIn()" class="button-container">
      <button mat-fab routerLink = ""><mat-icon>person</mat-icon></button>
    </div>
    <button class="button-container" mat-button routerLink = "/tournaments/all">Tournaments</button>
    <button *ngIf = "!isLoggedIn()" class="button-container" mat-button routerLink = "/login" >Sign in</button>
    <button *ngIf = "isLoggedIn()" class="button-container" mat-button (click)="logout()">Logout</button>
    <button *ngIf = "!isLoggedIn()" class="button-container" mat-raised-button color = "accent" routerLink = "/register" >Sign up</button>
</mat-toolbar>